<div class="expend-title"><h1>支出管理</h1></div>
<hr>
<h2>支出登録</h2>
<%= form_with(model: @expend, local:true) do |f| %>

    口座  <%= f.collection_select :saving_id,Saving.where(user_id:[current_user.id]),:id,:saving_name %>　　　　　　 　 　　 　　　　 <br>
    日付  <%= f.date_field :expend_date, value:Date.today %><br>
    種別  <%= f.select :group, {'水道光熱費':'水道光熱費', '住居費':'住居費', '食費':'食費', '生活雑費':'生活雑費','交友費':'交友費','その他':'その他','不明':'不明' }%>　　　　　　 　 　　　 　　　　 <br>
    金額  <%= f.text_field :expend_amount %><br>
    メモ  <%= f.text_field :memo %><br>

 　　 <%= f.submit "登録"%>
<% end %>

<hr>
<h2>支出履歴</h2>
 
   <div class="search-form">
<%= form_with url: expends_search_path, method: :get, local: true do |f| %>
<h4>口座 <%= f.collection_select :id,
     Saving.where(user_id:[current_user.id]),
     :id,
     :saving_name,
      include_blank: false %>
</h4>

<h4>年月 <%= f.collection_select :expend_date,
    Expend.where(user_id:[current_user.id]).group_by_month(:expend_date),
    :expend_date,
    :expend_date_month,
    include_blank: false %>
</h4>

　　　<%= f.submit "検索" %> 
  <% end %></div>
<h3><%= @expend_month %></h3>
<%= will_paginate %>
<br>
<table class="table">
<tr>
<th>口座名</th>
<th>日付</th>
<th>グループ</th>
<th>金額</th>
<th>メモ</th>
<th>編集 </th>
      <th>削除 </th>
</tr><tr>
  <% @expends.each do |expend| %>
    <% if expend.user_id == current_user.id %>
   
    <td> <%= Saving.where(id:expend.saving_id).pluck(:saving_name).join("")%> </td>
    <td> <%= expend.expend_date.strftime("%Y年%-m月%-d日") %> </td>
    <td> <%= expend.group%> </td>
    <td> <%= expend.expend_amount%>  </td>
     <td><%= expend.memo %>
     <td><%= link_to("編集", "/expends/#{expend.id}/edit") %> </td>
     <td><%= link_to("削除", "/expends/#{expend.id}", method: :delete, data: {confirm: "本当に削除しますか？"}) %> </td>
 </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate %>