
<%= form_with(model: @expend, local:true) do |f| %>

    <div><%= f.collection_select :saving_id,Saving.where(user_id:[current_user.id]),:id,:saving_name  %></div>
    <div><%= f.date_field :expend_date %></div>
    <div><%= f.select :group, {'水道光熱費':'水道光熱費', '住居費':'住居費', '食費':'食費', '生活雑費':'生活雑費','交友費':'交友費','その他':'その他','不明':'不明' }%></div>
    <div><%= f.text_field :expend_amount %></div>
    <div><%= f.text_field :memo %></div>

  <%= f.submit "登録"%>
<% end %>

<hr>
<h3>支出履歴</h3>

<%= will_paginate %>
<br>
 <table border="1">
<tr>
<th>口座ID</th>
<th>日付</th>
<th>グループ</th>
<th>金額</th>
<th>メモ</th>
<th>編集 </th>
      <th>削除 </th>
</tr><tr>
  <% @expends.each do |expend| %>
    <% if expend.user_id == current_user.id %>
   
    <td> <%= expend.saving_id%> </td>
    <td> <%= expend.expend_date %> </td>
    <td> <%= expend.group%> </td>
    <td> <%= expend.expend_amount%>  </td>
     <td><%= expend.memo %>
     <td><%= link_to("編集", "/expends/#{expend.id}/edit") %> </td>
     <td><%= link_to("削除", "/expends/#{expend.id}", method: :delete, data: {confirm: "本当に削除しますか？"}) %> </td>
 </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate %>