<h2>口座の登録、更新</h2>

<%= form_with(model: @saving, local: true) do |f| %>
  <%= f.text_field :saving_name %>

  <%= f.submit "登録" %>
<% end %>


<hr>
<%= will_paginate %>
<div>
  <% @savings.each do |saving| %>
    <% if saving.user_id == current_user.id %>
    <p>
    <%= saving.id %>/
    <%= saving.saving_name %>
    <%= link_to("編集", "/savings/#{saving.id}/edit") %>
    <%= link_to("削除", "/savings/#{saving.id}", method: :delete, data: {confirm: "本当に削除しますか？"}) %></p>
    <% end %>
  <% end %>
</div>
<%= will_paginate %>