<%= form_with(model: @income, local: true) do |f| %>
       <div><%= f.collection_select :saving_id,
                       Saving.all,
                       :id,
                        :saving_name  %></div>
    <div>
    <%= f.date_field :income_date %>
  </div>
   <div>
    <%= f.text_field :income_amount %>
  </div>
  <div>
    <%= f.text_field :memo %>
  </div>

  <%= f.submit %>
<% end %>

<hr>
<div>
  <% @incomes.each do |income| %>
    <p><%= income.saving_id%>/
    <%= income.income_date %>/
    <%= income.income_amount %>/
    <%= income.memo %>
    </p>
  <% end %>
</div>
