<%= form_with(model: @income, local: true) do |f| %>

   口座<%= f.collection_select :saving_id,Saving.where(user_id:[current_user.id]),:id,:saving_name  %><br>
   日付<%= f.date_field :income_date %><br>
   金額<%= f.text_field :income_amount %><br>
   メモ<%= f.text_field :memo %><br>

  <%= f.submit "登録"%>
<% end %>


<hr>
<h3>収入履歴</h3>

<div class="search-form">
  <%= form_with url: incomes_search_path, method: :get, local: true do |f| %>
   <%= f.collection_select :income_date,
    Income.where(user_id:[current_user.id]).group_by_month(:income_date),
    :income_date,
    :income_date_month,
    prompt: "選択してください"%>
    <%= f.submit "表示" %> 
  <% end %>
</div>

<%= will_paginate %>
<br>
 <table border="1">
  <tr>
 <th>口座ID</th>
  <th>日付 </th>
   <th>金額</th>
    <th>メモ </th>
     <th>編集 </th>
      <th>削除 </th></tr>
      <tr>
 <% @incomes.each do |income| %>
    <% if income.user_id == current_user.id %>
      <td><%= income.saving_id%></td>
      <td><%= income.income_date %></td>
      <td> <%= income.income_amount %></td>
      <td><%= income.memo %></td>
      <td><%= link_to("編集", "/incomes/#{income.id}/edit") %></td>
      <td><%= link_to("削除", "/incomes/#{income.id}", method: :delete, data: {confirm: "本当に削除しますか？"}) %></td>
      </tr><% end %><% end %></table>

<%= will_paginate %>