<header>
 <div class="header-logo">
   <h4><%= link_to("家計簿", "/") %></h4>
  </div>
  <ul>
    <% if user_signed_in? %>
       <li>
       <h4><%= link_to("収入", "/incomes/new") %></h4>
      </li>
       <li>
        <h4><%= link_to("支出", "/expends/new") %></h4>
      </li>
       <li>
       <h4><%= link_to("口座", "/savings/new") %></h4>
      </li>
       <li>
      <h4><%= link_to("分析", "/analyses") %></h4>
      </li>
       
     <div class="logout"><h4><%= link_to("ログアウト", "/users/sign_out", method: :delete, data: {confirm: "本当にログアウトしますか？"}) %></h4></div>
      
    <% else %>
      <li>
       <h4>  <%= link_to("新規登録", "/users/sign_up") %> </h4>
      </li>
      <li>
       <h4>  <%= link_to("ログイン", "/users/sign_in") %> </h4>
      </li>
    <% end %>
  </ul>
</header>