<header class="navbar navbar-fixed-top" style="background-color:#57ff8f;">
  <div class="container">
    <div class="navbar-header">
     <%= link_to "　家計簿", root_path, id: "logo" %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
         <% if user_signed_in? %>
        
        <li><a class="btn btn-success" href="/incomes/new" role="button">収入</a></li>
        <li><a class="btn btn-danger" href="/expends/new" role="button">支出</a></li>
        <li><a class="btn btn-info" href="/savings/new" role="button">口座</a></li>
        <li><a class="btn btn-warning" href="/analyses" role="button">分析</a></li>
        <li><h4>ユーザー名：<%= User.where(id:current_user.id).pluck(:name).join("") %></h4></li>
        <li><div class="logout"><h4><%= link_to("ログアウト", "/users/sign_out", method: :delete, data: {confirm: "本当にログアウトしますか？"}) %><%= fa_icon 'sign-out-alt'%></div></h4></li>
        <% else %>
        <li><h4><%= link_to("新規登録", "/users/sign_up") %><%= fa_icon 'user-plus'%></h4></li>
        <li><h4><%= link_to("ログイン", "/users/sign_in") %><%= fa_icon 'sign-in-alt'%></h4></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


