<!DOCTYPE html>
  <html>
   <head>
    <title>KakeiboApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css">
        <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
     <p><%= notice %></p>
     <p><%= alert %></p>
     <%= yield %>
     <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
